java/carrier/carrier.iml
java/.idea
java/.gradle
java/libphonenumber-parent.iml
java/internal/prefixmapper/prefixmapper.iml
java/geocoder/geocoder.iml
java/demo/demo.iml
java/libphonenumber/libphonenumber.iml
java/libphonenumber/build
java/internal/prefixmapper/build
java/geocoder/build
java/demo/build
java/carrier/build
.DS_Store
/java/libphonenumber/out
/java/libphonenumber/bin
/java/libphonenumber/.settings
/java/libphonenumber/.project
/java/libphonenumber/.classpath
/java/internal/prefixmapper/out
/java/internal/prefixmapper/bin
/java/internal/prefixmapper/.settings
/java/internal/prefixmapper/.project
/java/internal/prefixmapper/.classpath
/java/geocoder/out
/java/geocoder/bin
/java/geocoder/.settings
/java/geocoder/.project
/java/geocoder/.classpath
/java/demo/.settings
/java/demo/.project
/java/carrier/out
/java/carrier/bin
/java/carrier/.settings
/java/carrier/.project
/java/carrier/.classpath
/java/.settings
/java/.project
